@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

*{
	margin-left: 10px;
	margin-top: 20px;
}

.titulo{
	text-align: center;
}

img {
height: 150px;
opacity: 0.3;
}

.description {
font-size: 20px;
}

#cook-time {
font-weight: bold;
}

.ingredients li {
list-style: square;
}

.time {
color: gray;
}

#external-link {
color: SeaGreen;
}

a:hover{
	color: red;
}
