@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

*{
  font-family: 'Edu VIC WA NT Beginner';
  text-align: center;
  /*border: 1px solid red;*/
}

.title{
  color: #DACEF7;
}

.uppercase{
  text-transform: uppercase;
}

#article-title{
  font-family: cursive;
    /*(agregado para la clase del viernes)  */
  text-align: center;
}

[href*='florence']{
  color: red;
}

[href*='beijing']{
  color: lightblue;
}

[href*='seoul']{
  color: lightpink;
}

a:hover{
  color: darkorange;
}

h5{
  color: black;
}

.author-class{
  color: pink;
}

#author-id{
  color: cornflowerblue;
}

.description h5{
  color: blueviolet;
}

li h4 {
  color: gold;
}

li{
  color: red;
}

p{
  text-align: justify;
}

/*agregado para la opacidad (clase del viernes)*/
img{
  opacity: 0.10;
}

.img-fondo{
  background-image: url('./explorer.jpeg');
  background-size: cover;
  height: 700px;
}


